.Quiz {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
}

.quiz--result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quiz--btn {
    width: 12rem;
    height: 4rem;
    border: none;
    background-color: #4D5B9E;
    color: #F5F7FB;
    display: block;
    margin-top: 3rem;
    cursor: pointer;
    margin-bottom: 3rem;
    font-size: 1.3rem;
}

.quiz--score {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}