.Quiz {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
}


.quiz--home-link {
    margin-right: 35em;
    margin-left: 1em;
    font-size: 1.5rem;
    cursor: pointer;
}

.quiz--home-link:hover {
    text-decoration: underline;
}

.quiz--title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2em;
}

.quiz--linebreak {
    color: #DBDEF0;
    border: 0.794239px solid #DBDEF0;
    transform: rotate(-0.05deg);
}

.quiz--result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quiz--btn {
    width: 12rem;
    height: 4rem;
    border: none;
    background-color: #4D5B9E;
    color: #F5F7FB;
    display: block;
    margin-top: 3rem;
    cursor: pointer;
    margin-bottom: 3rem;
    font-size: 1.3rem;
}

.quiz--score {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}