.answer--text {
    border: 0.771045px solid #4D5B9E;
    border-radius: 7.71045px;
    min-width: 5rem;
    height: 3rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #293264;
}